body {
  background-image: url("keep.png");
  background-size: cover;
  font-family:'Dosis';
  color: white;
}

.cure {
  text-align: center;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0px 50px;
    font-size: 20px;
    background-color: purple;
    margin: 5px;
}

.topnav .Donate {
  background-color: white;
  color: purple;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.p1 {
  text-align: justify;
  font-size: 20px;
}

.p2 {
  text-align: center;
  font-size: 36px;
}

.p3 {
  text-align: justify;
  font-size: 20px;
}

.p4 {
  text-align: center;
  font-size: 26px;
}

.know {
  text-align: center;
}
